/* 


/* MS les input et form à mettre peut-re dasn style.css */

/* input[type=submit] {
    font-weight: 700;
    font-size: 20px;
    width: 202px;
    height: 56px;
    border-radius: 12px;
    background: #ffffff;
    border: none;
    cursor: pointer;
}

input:hover {
    background: #5a63e6;
    color: #ffffff;
} */


/* username id id post content pour bdd je dois attendre Amaury et Meiko*/

/* .post-input {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    border: none;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    color: white;
    resize: none;
    font-size: 16px;
}

.post-input::placeholder {
    color: #bbb;
} */


/* *{
    outline:1px blue solid;
} */


.post {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    list-style: none;
        padding: 30px;

}

.post-title::before{
    content: "|";
}


.textarea-container {
    background: linear-gradient(135deg, #0D0D0D 60%, rgba(29, 29, 29, 0.25));
    border-radius: 23px;
    cursor: pointer;
    padding: 15px;
}

.createpost-form {
    width: 362px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    text-align: left;
}

/* Zone de texte */
.post-input {
    width: 100%;
    height: 150px;
    border: none;
    background: none;
    color: white;
    resize: none;
    font-size: 16px;
}

.post-input::placeholder {
    color: #bbb;
}

/* Date */
.date {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;

}

/* Bouton */
.post-button {
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    width: 202px;
    height: 56px;
    border-radius: 12px;
    background: #ffffff;
    border: none;
    cursor: pointer;
}

.post-button:hover {
    background: #5a63e6;
    color: #ffffff;
}