.profile-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile-title {
    margin-left: 15px;
    padding: 35px;
}

.profile-name {
    margin-left: 45px;
    align-self: self-start;
    font-size: 35px;
}

.card-profile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.newest-post {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    background: linear-gradient(to right, #000000, #2c2c2c);
    max-width: 500px;
    padding: 16px;
    margin-bottom: 16px;
    width: 362px;
    height: 114px;
    font-optical-sizing: auto;


}