.navigation a {
    text-decoration: none;
    color: inherit;
}


.navigation {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 90px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(135deg, #1b1b1b 60%, rgba(255, 255, 255, 0.15));

}


.navigation>div {
    display: flex;
    justify-content: center;
    align-items: center;
}



.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}



.icon img {
    width: 1.5rem;
    transition: transform 0.4s ease, background 0.4s ease;
}


.text {
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    margin-top: 6px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}



.list:hover .icon img {
    transform: translateY(-28px);
    visibility: hidden;
}


.list:hover .text {
    opacity: 1;
    transform: translateY(0);
}





.indicator {
    position: absolute;
    top: -30px;
    left: calc(100% / 6);
    width: 70px;
    height: 70px;
    background: #5a63e6;
    border-radius: 50%;
    border: 10px solid #1b1b1b;
    /* transform: translate(-80%, 10px); */
    transform: translateX(-50%) translateY(20px);
    transition: top 0.4s ease, opacity 0.3s ease, transform 0.4s ease;
    z-index: 1;
    opacity: 0;
}



.indicator::before,
.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
}

.indicator::before {
    left: -22px;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 #1b1b1b;
}

.indicator::after {
    right: -22px;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 #1b1b1b;
}



.navigation.create-active .indicator {
    left: calc(100% / 6);
}

.navigation.profile-active .indicator {
    left: calc(100% / 2);
}

.navigation.home-active .indicator {
    left: calc(100% * 5 / 6);
}

.navigation.create-active .createpost .icon img,
.navigation.profile-active .profile .icon img,
.navigation.home-active .accueil .icon img {
    transform: translateY(-28px);
}

.navigation.create-active .createpost .text,
.navigation.profile-active .profile .text,
.navigation.home-active .accueil .text {
    opacity: 1;
    transform: translateY(0);
}


.navigation:has(.createpost:hover) .indicator {
    left: calc(100% / 6);
}

.navigation:has(.profile:hover) .indicator {
    left: calc(100% / 2);
}

.navigation:has(.accueil:hover) .indicator {
    left: calc(100% * 5 / 6);
}

.navigation:has(.createpost:hover) .indicator,
.navigation:has(.profile:hover) .indicator,
.navigation:has(.accueil:hover) .indicator {
    opacity: 1;
    transform: translate(-50%, -10px);
}

.indicator-icon {
    width: 1.4rem;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.navigation:has(.createpost:hover) .indicator-icon {
    content: url("/assets/Createpost.svg");
}

.navigation:has(.profile:hover) .indicator-icon {
    content: url("/assets/profile.svg");
}

.navigation:has(.accueil:hover) .indicator-icon {
    content: url("/assets/accueil.svg");
}



/* c'est le script javascript mais je suis en react et en plus ilo y a du remove ce n'est pas bon */

/* const list = document.querySelectorAll('.list');
function activeLink(){
list.forEach((item)=> item.classList.remove('active'));
this.classList.add('active');
}

list.forEach((item)=>
item.addEventListener('click',activeLink)); */