
.post {
  background: linear-gradient(to right, #000000, #2c2c2c);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  padding: 16px;
  margin-bottom: 16px;
  max-width: 500px;
  color: #ffffff;
  font-family: 'Arial', sans-serif;

}