/* MS mes commentaires
Le button  du figma à revoir j'ai fait le style.css de tête
.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* https://fonts.google.com/selection/embed 

les dates sont de cette couleur 15:25 - 13 aout 25 bref il faut mettre color : #535353;

les posts sont en en border-radius : 16px;

Le @ryu est en font-weight: 700; c'est un h2 email aussi

se créer un compte est un lien de couleur #EBDCDC bref mettre color : #ebdcdc ;

*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
}

#root{
    width: 100%;
} 
/* important le root doit être à 100% */


body {
    
    display: flex;
    justify-content: center;
    /* flex-direction: row; //peut-être column */
    flex-direction: column;
    align-items: center;
    background: #1b1b1b;
    color: #ffffff;

}

h1 {
    font-weight: 700;

}

h2 {

    font-weight: 700;
}

h3 {


    font-weight: 700;

}




link {
    color: #ebdcdc;
}

link:hover {
    color: #5a63e6;
}

button {
    font-weight: 700;
    width: 202px;
    height: 56px;
    border-radius: 12px;
    background: #ffffff;
    border: none;
}


button:hover {
    background: #5a63e6;
    color: #ffffff;
}

/* card pour le post */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: inherit;
    width: 316;
    height: 114;
    border-radius: 23px;
    color: #ffffff;
    background: linear-gradient(135deg, #35353540 60%, rgba(255, 255, 255, 0.25));

}

.comment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: inherit;
    width: 316;
    height: 114;
    border-radius: 23px;
    color: #000000;
    background: linear-gradient(135deg, #e5e5e5 60%, rgba(118, 118, 118, 0.25));
}

.date {
    color: #535353;
}

/* .post{
        background: linear-gradient(135deg, #35353540 60%, white);

}


} */